




.profile-social-media {
  border-bottom: 1px solid black;
  width: 15em;
  margin: 0 auto;
  padding: 10px 0 20px 0;
  transition: 0.3s;
}

.profile-social-media img:hover {
  opacity: 0.5;
}

.profile-description {
  width: 50%;
  margin: 0 auto;
  margin-top: 40px;
  
}