// Specific CSS for your home-page

.home-banner {
  height: 800px;
  background-image: image-url("home-banner-image.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.home-banner-text{
  width: 600px;
  color: white;
  text-shadow: 0 0 10px rgb(0, 0, 0);

  .home-banner-header {
    font-size: 50px 
  }

  .home-banner-explanation {
    font-size: 25px;
  }

  .home-banner-buttons {
    display: flex;
    justify-content: space-between;
  }
  .btn {
    width: 47%;
    height: 3rem;
  }

}