// Specific CSS for your home-page

.home-banner {
  height: 800px;
  background-image: image-url("home-banner-image.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.home-banner-text{
  width: 600px;
  color: white;
  text-shadow: $standard-shadow;

  .home-banner-header {
    font-size: 50px 
  }

  .home-banner-explanation {
    font-size: 25px;
  }

  .home-banner-buttons {
    display: flex;
    justify-content: space-between;
    text-shadow: none;
    .btn {
      width: 47%;
      height: 3rem;
    }
  }


}

.section-instruction-cards {
  // background-color: rgb(0, 0, 0);
  padding: 50px 0;

}

.instruction-card {
  background-image: url(asset_path("home-banner-image.jpg"));
  background-blend-mode: overlay;
  background-size: cover;
  width: 400px;
  height: 15em;
  border: 1px solid black;

  h1{
    padding: 35px 0 0 0;
  }
  p {
    padding: 20px 50px;
  }
}

.guide-card {
  width: 30%;

  img{
    width: 80%;
    height: 150px;
    margin: 10px 0;
    object-fit: cover;
  }

  p {
    margin: 0 auto;
    width: 67%;
  }
}


.explanation-card {
  background-color: white;

  margin: 30px 0;
  border-radius: 13px;
  width: 100%;
  height: 400px;
}

.explanation-card-text {
  width: 60%;
  padding: 40px;
}

.explanation-card-image {
  background-image: url(asset_path("explanation-card-image.jpg"));
  background-size: cover;  
  width: 40%;
  height: 100%;
  overflow: hidden;
  border-radius: 0 13px 13px 0;
}

.explanation-buttons {
  display: flex;
  justify-content: space-around;
  .btn{
    height: 60px;
    width: 500px;
  }
}