.event-index-section {
  background-color: lightgray;
}

.event-index-header {
  padding-top: 30px;
  text-align: center;
}

.event-index-categories {
  height: 100px;
}

.event-index-participants {
  img {
    border-radius: 50%;
    object-fit: cover;
  }
}

