<h1>This is the Homepage then</h1>

<ul>
  <li><%=link_to "Find Projects/Activities", events_path %></li>
  <li><%=link_to "Create Something", new_event_path %></li>
  <li><%=link_to "My Profile", root_path %></li>
  <li><%=link_to "Messages", root_path %></li>
</ul>