.big-card {
  background-color: white;
  margin: 25px;
  padding: 25px;
  border-radius: 13px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.199); ;
}

.divider-line {
  height: 200px;
  margin: auto;
  width: 1px;
  border-left: 1px solid rgba(0, 0, 0, 0.356);
}

.divider-line-horizontal {
  height: 1px;
  margin: auto;
  width: 80%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.356);
  margin: 30px auto;
}