.footer-section {
  background-color: lightgrey;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  
}


.footer-body {

  .footer-part {
    width: 200px;
  padding: 50px 0;
  }
}

.social-media-footer-icons {
  img {
    height: 25px;
    padding: 0 5px;
    transition: 0.3s;
  }

}

.social-media-footer-icons img:hover {
  
  opacity: 0.5;
  
}